:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./img/bg.png');
  cursor: url('./img/cursors/main_cursor.png'), auto;
  font-family: "Pixelify Sans"
}

#title{
  filter: drop-shadow(0 0 0.75rem rgba(38, 36, 37, 0.768));
}

#app{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: blanchedalmond;
  width: 75vw;
  height: 60vh;
  padding: 10px;
  font-family: "Pixelify Sans"
}

#name-select-container{
 
  
}


.section-title{
  color:#242424
}










/* .pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
