:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./img/bg.png');
  cursor: url('./img/cursors/main_cursor.png'), auto;
  font-family: "Pixelify Sans"
}

* {
  color: white; /* Sets the text color */
  text-shadow:
    -1px -1px 0 black, /* Shadow up-left */
    1px -1px 0 black,  /* Shadow up-right */
    -1px 1px 0 black,  /* Shadow down-left */
    1px 1px 0 black;   /* Shadow down-right */
}

#title{
  filter: drop-shadow(0 0 0.75rem rgba(38, 36, 37, 0.768));
}

#app{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* grid-template-areas: 
  'canvas character-part'
  'name character-part'
  'settings color-select'
  ; */
  background-color: blanchedalmond;
  width: 75vw;
  height: 60vh;
  padding: 10px;
  font-family: "Pixelify Sans"
}



/* grid section 1 */
#canvas-div{
  /* grid-area: 'canvas'; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* grid section 2 */
#name-select-container{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* grid section 3*/
#settings-select-container{
  /* grid-area: 'settings'; */
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

/* grid section 4*/
#character-part-select-container{
  /* grid-area: 'character-part'; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* grid section 4*/
#color-select-container{
  /* grid-area: 'color-select'; */
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

li {
  list-style-type: none;
}

.section-title-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}










/* .pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
